@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    /* font-family: 'Bebas Neue', sans-serif; */
    font-family: 'Poppins', sans-serif;
}

@font-face {
    font-family: 'gaming';
    src: url('../fonts/ethnocentric-rg.otf');
}

span{
    font-family: 'gaming';
}

.title{
    font-family: 'Bebas Neue', sans-serif;
}